@import "./fonts.css";
@import "./tailwind.css";
@import "./theme.css";

body {
  background-color: #f1ffeb;
}

.handwritten {
  font-family: "Caveat", cursive;
}
.font-founders {
  font-family: "Test Founders Grotesk", sans-serif;
}
.manrope {
  font-family: "Manrope", sans-serif;
}

.font-space {
  font-family: "Space Grotesk", sans-serif;
}

.font-plusjakart {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.font-queen {
  font-family: "Queen Smoothie Regular";
}
.font-paytone {
  font-family: "Paytone One", sans-serif;
  font-style: normal;
}
.heading {
  font-family: "Queen Smoothie Regular";
  letter-spacing: -3%;
}

.paw-cursor-wrapper,
.paw-cursor-wrapper * {
  cursor: var(--paw-cursor) !important;
}